.body{
    background-color: #f3f4f6;
    margin: 0;
    padding: 0;
    width: 100%;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
    -webkit-text-stroke: 1px black;
    font-size: 50px;
}

.card {
    background-color: antiquewhite;
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    color: #000;
    display: flex;  /* 🔹 จัดให้องค์ประกอบเรียงแนวนอน */
    align-items: center;
    overflow: hidden;
}
.cardImg {
    width: 20%; /* 🔹 กำหนดขนาดรูป */
    height: 100%; /* 🔹 กำหนดขนาดรูป */
    object-fit: cover;
    border-radius: 15px; /* 🔹 ทำให้ขอบมน */
    margin-right: 15px; /* 🔹 เพิ่มระยะห่างระหว่างรูปและข้อความ */
    position: relative;
}