.banner{
    position: relative;  /* 🔹 เพิ่มอันนี้ */
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    width: 100%;
    height: 855px;
    display: flex;        /* จัดให้ h1 อยู่กลางภาพ */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
}
.bannerImg{
    position: absolute;  /* 🔹 ทำให้ภาพอยู่ข้างหลัง */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}
.bannerText1{
    color: #fff;
    font-size: 100px;
    font-weight: bold;
    -webkit-text-stroke: 1px black;
    z-index: 1;
    margin-bottom: 5px;
}
.bannerText2{
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    -webkit-text-stroke: 1px black;
    z-index: 1;
    margin-top: 0px;
}